@import "normalize";


body {
	background-color: #688571;
}

.page-container {
  max-width: 500px;
  border: solid 3px #333;
  margin: 20px auto;
  background-color: #eee;
}

h2.section-header {
	text-align: center;
	margin: 0 0 0 0;
}

.github-card {
  margin: 0 auto;
}

.embedded-twitter-widget {
  margin: 20px
}

.books-list {
  margin-top: 0;
  li {
  	margin-bottom: 20px;
  }
}
